<!-- Portfolio Grid Section -->
<section id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Je m'inscris</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Tu es collaborateur, apprenti ou stagiaire du groupe CANAL+ ? </p>
                <p>Tu aimes imaginer, créer, innover, travailler en équipe ? </p>
                <p><b>N'hésite plus, inscris-toi au Hackathon 2019!</b></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p><a target="_blank" href="{{ site.camp.apply-form }}"
                        class="btn btn-lg btn-outline btn-secondary">
                        Je m'inscris
                    </a></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p><i>Attention: le nombre de places est limité.</i></p>
            </div>
        </div>
    </div>
</section>

<p><a target="_blank" href="{{ site.camp.apply-form }}" class="btn btn-lg btn-outline btn-floating btn-tertiary">
    Je m'inscris
</a></p>