<!-- Portfolio Grid Section -->
<section id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Je m'inscris</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Tu es collaborateur, apprenti ou stagiaire du groupe CANAL+ ? </p>
				<p>Tu aimes imaginer, créer, innover, travailler en équipe ? </p>
                <p><b>N'hésite plus, inscris-toi au Canal Coding Camp, le premier Hackathon made in Canal !</b></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a target="_blank" href="https://equipe-formation-campusplus.typeform.com/to/FRPaqA" class="btn btn-lg btn-outline">
                    Je m'inscris
                </a>
				<br />
            </div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
                <p><i>Le nombre de places est limité. Ne t'inscris que si tu es disponible toute la journée.</i></p>
            </div>
        </div>
    </div>
</section>