<!-- About Section -->
<section class="success" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>F.A.Q</h2>
				<div class="star-light"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 text-justify">
				<h3>Devrais-je travailler sur mes tâches courantes le jour du Hackathon?</h3>
				<p>NON ! Votre journée sera entièrement consacrée au HACKATHON CANAL+ 2019 et vous ne pourrez pas être interrompu sauf cas de force majeur.</p>
				<h3>Est-ce que je peux participer sans être développeu.se.r?</h3>
				<p>Oui ! Tout le monde peut participer, proposer des idées, travailler sur les livrables et apporter ses compétences et connaissances pour améliorer le projet.</p>
				<h3>Est-ce que je peux m'inscrire sans projet?</h3>
				<p>Oui ! Vous pourrez rejoindre une équipe existante.</p>
				<h3>Comment seront constituées les équipes?</h3>
				<p>Les équipes seront constituées en fonction des choix de projet de chacun.<br/> Le 14 octobre, les porteurs & porteuses de projets en feront une présentation en salle de Tapis Rouge. Un formulaire te permettra de choisir tes sujets préférés. Nous nous baserons sur ces choix pour constituer les équipes. Pour plus de suspens, tu connaitras la composition finale de ton équipe la veille de l'événement.</p>
				<h3>Est-ce obligatoire pour les porteurs de projet de pitcher?</h3>
				<p>Pas du tout ! Trouve un.e gentil.le collègue pour pitcher à ta place.​ Note bien, une formation détonante au pitch sera proposée avant le 14 octobre.</p>
				<h3>Est-ce que je peux constituer une équipe à moi tout.e seul.e?</h3>
				<p>Pourquoi une telle idée ?! L'objectif de l'événement est de renforcer la cohésion au sein du groupe en rencontrant des personnes avec qui vous ne travaillez pas au quotidien.</p>
				<h3>Les projets gagnants seront-ils incubés?</h3>
				<p>C'est le but ! Si les projets gagnants sont pertinents, réalisables et en accord avec les priorités du groupe, ils seront incubés et potentiellement mis en production.</p>
			</div>
		</div>
	</div>
</section>
