<footer>
  <!-- <img src="{{ '/img/CANAL_TECH_Squared.gif' | relative_url }}" /> -->
  <div class="page__footer-follow container">
    <ul class="social-icons">
      {% if site.data.ui-text[site.locale].follow_label %}
        <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
      {% endif %}
      {% if site.twitter.username %}
        <li><a href="https://twitter.com/{{ site.twitter.username }}" target="_blank"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
      {% endif %}
      {% if site.medium.username %}
        <li><a href="https://medium.com/{{ site.medium.username }}" target="_blank"><i class="fa fa-fw fa-medium" aria-hidden="true"></i>Medium</a></li>
      {% endif %}
      {% if site.facebook.username %}
        <li><a href="https://facebook.com/{{ site.facebook.username }}" target="_blank"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
      {% endif %}
      {% if site.dailymotion.username %}
        <li><a href="http://dailymotion.com/{{ site.dailymotion.username }}" target="_blank"><i class="fa fa-fw fa-play" aria-hidden="true"></i> Dailymotion</a></li>
      {% endif %}
      {% if site.github.username %}
        <li><a href="http://github.com/{{ site.github.username }}" target="_blank"><i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="page__footer-copyright container">{{ site.name | default: site.title }} - Made with <span class="love"><i class="fa fa-fw fa-heart" aria-hidden="true"></i></span> by &lt;CANAL TECH/&gt;   &copy;{{ site.time | date: '%Y' }}</div>
</footer>