<!-- Portfolio Grid Section -->
<section id="planning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Planning</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>J-9 : Mardi 18 Avril</h2>
                <p>18 h 00 : Présentation du Hackathon, de son déroulement, des mentors..</p>
                <p>18 h 30 : Pitch-Time - Présentation des sujets par les squads leaders</p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>J-1 : Mercredi 26 Avril</h2>
                <p>17 h : Communication des équipes finales et des sujets</p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>J0 : Jeudi 27 Avril</h2>
                <p>08 h : Accueil des participants et petit déjeuner</p>
                <p>09 h 00 : On imagine, on créé, on échange, on s'amuse !</p>
                <p>12 h 30 : Déjeuner</p>
                <p>14 h 00 : On imagine, on créé, on échange, on s'amuse !</p>
                <p>18 h 00 : Présentation des projets</p>
                <p>19 h 30 : Cocktail et Délibération du Jury</p>
                <p>20 h 00 : Remise des prix</p>
                <p>20 h 30 : Soirée</p>
            </div>
        </div>
    </div>
</section>
