<!-- Portfolio Grid Section -->
<section id="planning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Planning</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>13 Septembre - 4 Octobre</h2> 
                <h3>Appel à projet</h3>
                <p>Soumettez vos idées! Les <strong>15</strong> meilleures seront retenues pour le jour J.</p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>14 Octobre</h2>
                <h3>Soirée Pitch</h3>
                <p>Les porteurs de sujets retenus feront des présentations de leur sujet pour motiver les participants à les rejoindre!</p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>6 Novembre</h2>
                <h3>J-1: Révélation des équipes</h3>
                <p>...</p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>7-8 Novembre</h2>
                <h3>Jour J: HACKATHON</h3>
                <p>...</p>
            </div>
        </div>
    </div>
</section>
