<!-- Portfolio Grid Section -->
<section id="planning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Planning</h2>
                <div class="star-primary"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>18 Septembre - 4 Octobre</h2> 
                <h3>Inscription et appel à projet</h3>
                <p>Inscris toi et/ou soumets tes idées! Les <strong>15</strong> meilleures seront retenues pour le jour J.</p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>14 Octobre</h2>
                <h3>Soirée Pitch</h3>
                <p>Les porteuses & porteurs de sujets retenus feront des présentations de leur sujet pour motiver les participants à les rejoindre!<br/><i>A noter: Un atelier de formation au pitch est prévu le 11 octobre matin dans Paris.</i> 
                </p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>6 Novembre</h2>
                <h3>J-1: Révélation des équipes</h3>
                <p>Les équipes seront constituées en fonction de tes choix et de tes compétences. <br/>Pour ajouter un petit peu de suspens, les équipes ne seront connues que la veille au soir! </p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>7 Novembre</h2>
                <h3>Jour J: HACKATHON</h3>
                <p>C'est le grand jour! En équipe, vous devrez pousser votre projet et vos idées au maximum en un temps limité.<br/>Créativité, échange et plaisir seront à l'ordre du jour à La petite Lucarne.</p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>8 Novembre</h2>
                <h3>J+1: Présentations et remise du prix du jury</h3>
                <p>Après une journée de création intense, il est temps de présenter votre projet au Jury. A l'issue des restitutions en salle Tapis Rouge, le prix du Jury sera remis à la ou les meilleures équipes.</p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>21 Novembre</h2>
                <h3>Annonce du prix du public</h3>
                <p>Cette année, nous avons prévu d'avoir un prix du public!<br/> Les collaborateurs, collbaroratrices, participant.e.s ou non au hackathon pourront visionner les restitutions et voter pour leur équipe favorite!</p>
            </div>
        </div>
    </div>
</section>
