 <!-- About Section -->
<section id="who">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Pour qui ?</h2>
				<div class="star-primary"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3>marketeurs - graphistes - monteurs - RH - développeurs - financiers...</h3>
				<p>Tous les collaborateurs, talents CANAL+, susceptibles de relever le défi, à savoir créer un concept novateur</p>
			</div>
		</div>
	</div>
</section>