 <!-- About Section -->
<section id="who">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Pour qui ?</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<p><span class="key-words">marketeurs - graphistes - développeurs - UX designer - architecte</span></p>
				<p><b>& tous les talents CANAL+ susceptibles de relever le défi, à savoir créer un concept novateur</b></p>
			</div>
		</div>
	</div>
</section>