 <!-- About Section -->
<section class="success" id="why">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Pour quoi ?</h2>
				<hr class="star-light">
			</div>
		</div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-responsive" src="img/comment.png" alt="">
                <h3>Rencontrer - Echanger</h3>
                <p>Les meilleures idées et les meilleurs concepts se font rarement par une seule personne !</p>
                <p>Rencontrez des collaborateurs du groupe travaillant dans d'autres domaines au sein de CANAL+.</p>
                <p>Echangez autour d'un projet et bénéficiez des compétences des membres de votre équipe et d'avis divergents qui le feront évoluer.</p>
			</div>
            <div class="col-lg-6 text-center">
                <img class="img-responsive" src="img/target.png" alt="">
				<h3>Mentoring</h3>
                <p>Chaque équipe bénéficiera de l'appui de mentors expérimentés.</p>
                <p>Ils seront attentifs à la conception des projets et veilleront à la réussite de ceux-ci en vous faisant bénéficier de leurs expertises.</p>
                <p>Ils seront également là pour répondre à vos questions dans leur domaine de prédilection : marketing, finance, ergonomie, architecture...</p>
			</div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-responsive" src="img/build.png" alt="">
				<h3>Créer - Innover</h3>
                <p>Quoi de plus stimulant que d'imaginer, créer, un produit ou un usage qui pourrait être utilisé par des millions de personnes dans le monde !</p>
                <p>Venez relever le défi et apporter votre pierre à l'édifice CANAL+ en imaginant un concept novateur et pertinent.</p>
			</div>
            <div class="col-lg-6 text-center">
                <img class="img-responsive" src="img/stage.png" alt="">
				<h3>Visibilité - Pitcher</h3>
                <p>A la fin de la journée, vous devrez défendre votre projet en équipe devant un jury composés de membre du top management.</p>
                <p>Ce sera ainsi l'occasion de montrer de quoi vous êtes capable et de d'obtenir de la visibilité pour votre équipe et votre concept.</p>
			</div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-responsive" src="img/balloon.png" alt="">
				<h3>S'amuser</h3>
                <p>Le CANAL Coding Camp vous promet une journée fun, riche et stimulante... où vous attendent de nombreuses surprises !</p>
			</div>
        </div>
	</div>
</section>